#projpins {
  display: block;
}
#moreprojmobile {
  display: none;
}

@media screen and (max-width: 768px) {
  #projpins {
    display: none;
  }
}

/* styles the navbar */
.navbar {
  width: 10vh;
  height: 100vh;
  position: fixed;
  background-color: #686161;
}

/* Styles the scroll bar */
body::-webkit-scrollbar {
  width: 0.7em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: #686161;
  outline: 1px solid slategrey;
}

/* Changes font & background */
body {
  background-image: url(bg.jpg);
  font-family: Comfortaa;
}

/* Changes text color */
.text-title {
  color: #686161;
}
.text-par {
  color: black;
}
/* center align class */
.center {
  display: grid;
  place-items: center;
  text-align: center;
}

/* aligns goal tab */
#goals {
  text-align: left;
}
